!!!
%html{ 'ng-app' => 'wl_availability' }
  %head
    %meta{ charset: "utf-8" }
    %meta{ 'http-equiv' => "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }

    %title Wandering Labs | Campsite Full?
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    %base{ :href => '/' }
  %body{}

    %nav.navbar.navbar-inverse
      .container
        .navbar-header
          %a.navbar-brand{ href: 'http://wanderinglabs.com'}
            %i.fa.fa-cogs.fa-lg
            WanderingLabs

    .jumbotron
      .container
        %h1 Campground Full?
        %h4 Tell us when and where you want to camp and we will let you know when a site becomes available.

    .container
      .row
        .col-md-8
          = yield
        .col-md-4.amazon
          %br/
          :javascript
            Array.prototype.shuffle = function() {
              var i = this.length, j, temp;
              if ( i == 0 ) return this;
              while ( --i ) {
                 j = Math.floor( Math.random() * ( i + 1 ) );
                 temp = this[i];
                 this[i] = this[j];
                 this[j] = temp;
              }
              return this;
            }
            amzn_ids = ['B00WMFXE5O','B000BUU5WW','B002OUMVWY','B0006IX87S','B0028PJ10K','B001GC2LVM','B002XLHUQG','B00708MDAK' ];
            amzn_assoc_placement = "adunit0";
            amzn_assoc_search_bar = "false";
            amzn_assoc_tracking_id = "wl-reserve-20";
            amzn_assoc_ad_mode = "manual";
            amzn_assoc_ad_type = "smart";
            amzn_assoc_marketplace = "amazon";
            amzn_assoc_region = "US";
            amzn_assoc_title = "";
            amzn_assoc_linkid = "1985e8815610f7bb7b339742e9ee7c1c";
            amzn_assoc_asins = amzn_ids.shuffle().join(',');

          = javascript_include_tag "http://z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"
          = javascript_include_tag "http://z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US#assd"

    .container
      .row
        .col-md-12
          .footer-content
            %a{ href: 'http://wanderinglabs.com' }Wandering Labs
            is a creation of
            %a{ href: 'http://tiwatson.com' }Tim Watson
            %br/
            %br/
            %small
              Wandering Labs is not affiliated with, maintained by, or in any way officially connected with Reserve America or Active Network.

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-58156575-1', 'auto');
      ga('send', 'pageview');

